<template name="list">

	<h4>{{listItem.list.name}}</h4>
		
		<form>
			<input  class="span10 uppr" type="text" name="newItem" placeholder="Add a new todo item to your list" />
			<button type="submit" class="btn btn-primary pull-right" class="span2">Add Item</button>
		</form>

		<ul id="list-items">
			{{#each listItem.items}}
				<li class="item-{{state}}" data-item-id="{{_id}}">

					<span class="item-text span10">
						<span class="innr-text {{state}}">{{text}}</span>
					</span>

					<span class="update-item span10">
						<input type="text" class="span12"  value="{{text}}" />
					</span>

					<span class="item-controls span2">

						<span class="control item-drag icon-move pull-right"></span>
						<span class="control item-remove icon-remove pull-right"></span>
						<span class="control item-state icon-ok pull-right"></span>

					</span>

				</li>
			{{/each}}
		</ul>
	
</template>