<template name="list">

	<h4>{{listItem.list.name}}</h4>
		
		<form>
			<input  class="span10 uppr" type="text" name="newItem" placeholder="Add a new todo item to your list" />
			<button type="submit" class="btn btn-primary pull-right" class="span2">Add Item</button>
		</form>

		<ul id="list-items">
			{{#each listItem.items}}
				<li class="{{state}}" data-item-id="{{_id}}">

					<span class="item-text  span10">{{text}}</span>
					<span class="item-controls span2">

						<span class="control icon-move pull-right"></span>
						<span class="control icon-remove pull-right"></span>
						<span class="control item-complete icon-ok pull-right"></span>

					</span>

				</li>
			{{/each}}
		</ul>
	
</template>