<template name="register">

	<div class="row-fluid info">
		<h3>This is the REGISTER page.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="row-fluid">

		<form id="user-register" class="form-horizontal">

			<div class="control-group">

				<label class="control-label">First Name</label>

				<div class="controls">

					<input class="span9 required" type="text" name="fname" placeholder="Enter your first name"/>
				
				</div>

			</div>

			<div class="control-group">

				<label class="control-label">Last Name</label>

				<div class="controls">

					<input class="span9 required" type="text" name="lname" placeholder="Enter your last name"/>
				
				</div>

			</div>

			<div class="control-group">

				<label class="control-label">Email</label>

				<div class="controls">

					<input class="span9 required" type="email" name="email" placeholder="Enter an email address"/>

				</div>
			</div>

			<div class="control-group">

				<label class="control-label">Username</label>

				<div class="controls">

					<input class="span9 required" type="text" name="username" placeholder="Enter a username"/>
				
				</div>

			</div>

			<div class="control-group">

				<label class="control-label">Password</label>

				<div class="controls">

					<input class="span9 required" type="password" name="password" placeholder="Enter a password"/>
				
				</div>

			</div>

			<div class="control-group">

				<div class="controls">

					<button id="register-submit" class="btn btn-primary" type="submit">Register</button>

				</div>

			</div>

		</form>

	</div>
	
</template>