<template name="modalOne">

	<form name="new-list" id="new-list-form">
		
		<div class="modal-header">

			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Add a new list</h3>

		</div>

		<div class="modal-body">

			<div id="new-list">

				<input  class="span6 uppr" type="text" name="listName" placeholder="Choose a name for your new list" />

			</div>
				

		</div>

		<div class="modal-footer">

			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button type="submit" class="btn btn-primary pull-right" class="span2">Create List</button>
			
		</div>

	</form>


</template>



